[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/:code"
  to = "/.netlify/functions/redirect/:code"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
